# Ignorar archivos de caché
*.log
*.txt

# Ignorar la carpeta de archivos temporales
temp/

# Ignorar archivos de configuración específicos
config.ini
*.db


*_psycache_
*.env
*.ipynb_checkpoints
#1 2 3 5
__pycache__/

