#Archivos de caché
*.log
*.txt

#Ccarpeta de archivos temporales
temp/

#Archivos de configuración específicos
*config.ini
*.db -- Pruebas qu se hicieron con sqlite al inicio del proyecto para despues comenzar a trabjar con una base de datos real y no temporal

#Cache
*_psycache_

#Configuracion de las variables de entorno
*.env

#Checkpoints del desarrollo del notebook 
*.ipynb_checkpoints

#Cache especifico de carpetas individuales
__pycache__/

